@import "../../css/colors.css";

.button {
    background: none;
    cursor: pointer;
    user-select: none;
}
.button:active {
    background-color: $motion-transparent; 
}
.button:focus-visible {
    outline: 2px solid $motion-primary;
    outline-offset: 2px;
}
.highlighted.button {
    background-color: $motion-transparent; 
}
.mod-disabled {
    cursor: auto;
    opacity: .58;
}
.mod-disabled:active {
    background: none;
}
